
<div class="container">
  <div class="row">

    <h2 class=".col-md-3 .offset-md-3">
      signup
    </h2>

  </div>
  <div class="row">

    <div class="md-3 offset-md-3">


      <form class="text-center border border-light ">


        <div class="form-row mb-4">
          <div class=".col-md-3 .offset-md-3">
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
          </div>
          <div class=".col-md-5 .offset-md-10">
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
          </div>
        </div>



        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
            </div>
            <input type="email" id="defaultRegisterFormEmail" class="form-control" placeholder="E-mail">

          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
            </div>
            <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
              aria-describedby="defaultRegisterFormPasswordHelpBlock">


          </div>
        </div>

        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text .col-md-3 .offset-md-3">
          At least 8 characters and 1 digit
        </small>


        <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number"
          aria-describedby="defaultRegisterFormPhoneHelpBlock">
        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
          Optional - for two step authentication
        </small>
        <br>
        <div class="form-group">
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto d-flex justify-content-center" style="margin-bottom: 1em">
            <input type="checkbox"> Subscribe to our newsletter
          </div>
        </div>
        <!--<button mdbBtn color="info" block="true" class=" btn btn-primary colmd-4" type="submit">layout </button>
          -->
        <a  routerLink="/login/signin" routerLinkActive="active">SIGNIN</a>


<!--
        <button mdbBtn color="info" block="true" class="btn btn-primary" type="submit">Sign up
          <a mat-list-item [routerLink]="['signup']" routerLinkActive="router-link-active"></a>
        </button>
-->
        <p>or sign up with:</p>


        <a type="button" class="light-blue-text mx-2">
          <a href="https://linkedin.com"><img src="https://img.icons8.com/color/48/000000/linkedin.png"></a>
        </a>

        <a type="button" class="light-blue-text mx-2">
          <a href="https://twitter.com"><img src="https://img.icons8.com/color/48/000000/twitter.png"></a>
        </a>

        <a type="button" class="light-blue-text mx-2">
          <a href="https://facebook.com"><img src="https://img.icons8.com/color/48/000000/facebook.png"></a>
        </a>



        <hr>

        <p>By clicking
          <em>Sign up</em> you agree to our
          <a href="" target="_blank">terms of service</a> and
          <a href="" target="_blank">terms of service</a>. </p>

      </form>
    </div>
  </div>
</div>
