h2 {
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  text-decoration: none;
  text-transform: capitalize;
}
p {
  margin: 1em;
}
button {
  margin-right: 1em;
}
small {
  color: red;
  margin: 1em;
}
